.abt {
    margin-top: 104px;
}

.container-course {
    padding: 0 16px;
}

.course {
    padding: 20px 40px;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.container-course::after,
.row1::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: rgb(128, 128, 128);
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s, background-color 0.6s;
    /* text-align: center; */
    /* transition: transform 0.6s; */
    transform-style: preserve-3d;
}

/* .flipped .flip-card-inner {
    transform: rotateY(180deg);
  } */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
    /* background-color: #090c0bd8; */
    color: #424242;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    /* border: 1px solid red; */
}

.flip-card-front > img {
    border-radius: 10px;
}

.flip-card-back {
    background-color: #f3f5f4d8;
    color: rgb(22, 20, 22);
    transform: rotateY(180deg);
    padding: 10px 15px;
}

/* Card container styles */
.column1 {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.container-course {
    padding: 16px;
}

/* For responsiveness */
@media screen and (max-width: 950px) {
    .row1 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .column1 {
        width: 100%;
        display: block;
    }

    .row1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 550px) {
    .row1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}