.header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 15px;
    background-image: linear-gradient(to right, #00000000, #685ca1, #405aa7, #1951a5, #1b3c74);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;
}

.logo img {
    width: 70px;
    height: 60px;
    border-radius: 4px;
    mix-blend-mode: color;
}

.navlink {
    display: flex;
    gap: 20px;
}

.active, .inactive{
    font-size: 17px !important;
    font-weight: 600;
}
.active{
color: white;
}
.inactive{
    color: black;

}

/* .about {
    font-size: 18px;
    padding: 12px 0;
    margin-right: 50px;
    text-align: end;
}
.about a+a {
    margin-left: 30px;
} */
.about a {
    color: rgb(244, 241, 248);
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .logo img {
        width: 35px;
        height: 35px;
    }

    .about {
        font-size: 13px;
    }
}